@use '../styles/variables.scss' as *;

html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
    max-width: 1350px;
    padding: 30px 15px;
    margin: 0 auto;
}

//Fonts

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-SemiItalic';
  src: url('../fonts/Lato-SemiItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

//Main-colors
:root {
  --main-color-text: #047174;
}
