@use '../../../app/styles/variables.scss' as *;

.buttonsWrapper {
    display: flex;
    gap: 5px;
}

.filter, .price, .rating, .popularity, .resetFilter {
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 15px
}

.filter {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 123px;
    height: 56px;

    svg {
        stroke: #757575;
        transition: all 0.5s;
    }

    &:hover {
        background: #06A1A6;
        color: #fff;

    svg {
         stroke: #fff;   
        }
    }
}

.price {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 94px;
    height: 56px;
    
    svg {
        transition: all 0.4s;
        stroke: #000;
    }

    &:hover {
        background: #06A1A6;
        color: #fff;

         svg {
            stroke: #fff;
        }
    }
}

.rating {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 115px;
    height: 56px;
     
    &:hover {
        background: #06A1A6;
        color: #fff;
    }
    
}

.rating svg {
    display: none;
}

.popularity {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 186px;
    height: 56px;

    svg {
        stroke: #000;
        transition: all 0.4s;
    }

    &:hover {
        background: #06A1A6;
        color: #fff;

        svg {
            stroke: #fff;
        }
    }
}

.iconFilter, .iconArrow {
    display: none;
}

.resetFilter {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 161px;
    height: 56px;
    background: none;
    border: 1px solid #D1D1D1;

    &:hover {
        background: #06A1A6;
    }

    &:hover {
        .modify {
            transition: all 0.4s;
            color: #fff;
        }
    }
}

.resetFilter svg {
    display: none;
}

.title {
    padding: 32px 0;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.modify {
    transition: all 0.4s;
    color: #06A1A6;
}

.modifyImg {
    padding-top: 4px;
}

//Adaptive

.locateWrapper {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    gap: 10px
}

.locateArrow {
    @include flex-center;
    width: 40px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 13px;
}

.locateTextWrapper {
    @include flex-center;
    width: 265px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #fff;
    box-shadow: 0 0 15px #d1d1d1;
    padding: 5px 0;
    border-radius: 12px;
}

.locateTitleInner {
    font-family: 'Lato-Bold';
}

.locateTitleDescriptionInner {
    font-family: 'Lato-Regular';
    font-size: 14.5px;
    color: #757575;
}

@media screen and (max-width: 700px) {
    .mobile {
        display: none;
    }
        .filter {
            min-width: 40px;
            height: 40px;
            border-radius: 12px;

            svg {
                margin: 4px 0 0 6px;
            }
        }
            .price {
                min-width: 86px;
                height: 40px;
                border-radius: 12px;
            }
                .rating {
                    min-width: 105px;
                    height: 40px;
                }
                    .popularity, .resetFilter {
                        min-width: 166px;
                        height: 40px;
                    }
                        .buttonsWrapper {
                            -webkit-overflow-scrolling: touch;
                            &::-webkit-scrollbar {
                                display: none; 
                            }
                            -ms-overflow-style: none;  
                            scrollbar-width: none;  
                            overflow: auto;
                        }
}