@use '../../../app/styles/variables.scss' as *;

.buttonsWrapper {
    display: flex;
    gap: 5px;
}

.filter, .price, .rating, .popularity, .resetFilter {
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 15px
}

.filter {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 123px;
    height: 56px;

    svg {
        stroke: #757575;
        transition: all 0.5s;
    }

    &:hover {
        background: #06A1A6;
        color: #fff;

    svg {
         stroke: #fff;   
        }
    }
}

.price {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 94px;
    height: 56px;
    
    svg {
        transition: all 0.4s;
        stroke: #000;
    }

    &:hover {
        background: #06A1A6;
        color: #fff;

         svg {
            stroke: #fff;
        }
    }
}

.rating {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 115px;
    height: 56px;
     
    &:hover {
        background: #06A1A6;
        color: #fff;
    }
    
}

.rating svg {
    display: none;
}

.popularity {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 186px;
    height: 56px;

    svg {
        stroke: #000;
        transition: all 0.4s;
    }

    &:hover {
        background: #06A1A6;
        color: #fff;

        svg {
            stroke: #fff;
        }
    }
}

.iconFilter, .iconArrow {
    display: none;
}

.resetFilter {
    @include flex-center;
    transition: all 0.4s;
    gap: 7px;
    width: 161px;
    height: 56px;
    background: none;
    border: 1px solid #D1D1D1;

    &:hover {
        background: #06A1A6;
    }

    &:hover {
        .modify {
            transition: all 0.4s;
            color: #fff;
        }
    }
}

.resetFilter svg {
    display: none;
}

.title {
    padding: 32px 0;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.modify {
    transition: all 0.4s;
    color: #06A1A6;
}

.modifyImg {
    padding-top: 4px;
}