@use '../../../app/styles/variables.scss' as *;

.authPersonalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 541px;
    height: 498px;
    background: #fff;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-bottom: 40px;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.description {
    padding-bottom: 40px;
}

.inputInner {
    padding: 10px 0 0 3px;
    background: none;
    border: none;
    font-family: 'Lato-Regular';
    font-size: 17px;
    width: 100%;
    outline: none;
}

.buttonInner {
    width: 360px;
    height: 64px;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 17px;
    @include reset-button;
    background: #06A1A6;
}

.personalData {
    display: flex;
    justify-content: center;
    padding: 45px 0 20px 0;
}

.personalDataInner {
    font-family: 'Lato-Regular';
    color: #757575;
}

.arrowWrapper {
    position: relative;
    display: flex;
}

.arrow {
    position: absolute;
    left: -140px;
    transform: rotate(180deg);
    top: 10px;
}

.inputSquareWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.descriptionInnerCode {
    font-family: 'Lato-Bold';
    font-size: 18px;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    text-align: center;
    color: #181818;
}

.bold {
    font-family: 'Lato-Bold';
    font-size: 16px;
}