@use '../../../app/styles/variables.scss' as *;


.inputNameWrapper {
    display: flex;
    gap: 15px;
}

.title {
    padding-top: 40px;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.description {
    padding: 10px 0 50px 0;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    color: #181818;
}

.surnameWrapper {
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    width: 424px;
    height: 64px;
    border-radius: 15px;
    padding: 10px 16px 15px 16px;
}

.inputInner {
    padding: 3px 0 0 3px;
    background: none;
    border: none;
    font-family: 'Lato-Regular';
    font-size: 17px;
    width: 100%;
    outline: none;
} 

.surnameInner {
    font-family: 'Lato-Regular';
    color: #757575;
    font-size: 14px;
}

.inputData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 424px;
    height: 64px;
    display: flex;
    background: #f1f1f1;
    padding: 0 15px;
    border-radius: 15px;
}

.inputDataInner {
    width: 300px;
    height: 40px;
    font-family: 'Lato-Bold';
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
}

.inputDataInner::placeholder {
    font-size: 15px;
}

.inputData {
    margin-top: 20px;
}

//Adaptive

@media screen and (max-width: 1240px) {
    .description {
        padding-bottom: 20px;
    }
        .inputNameWrapper {
            flex-direction: column;
        }
            .surnameWrapper, .inputData, .inputDataInner {
                width: 100%;
            }
}