@use '../../../app/styles/variables.scss' as* ;

.wrapperCards {
    display: flex;
    gap: 20px;
}

.title {
    padding-bottom: 25px;
}

.titleInner {
    font-family: 'Lato-Regular';
}

.cardsWrapper {
    padding: 50px 0 20px 0;
}

.itemCard {
    position: relative;
    @include flex-column;
}

.textInner {
    font-family: 'Lato-Regular';
}

.img {
    cursor: pointer;
}

.checkMarkWrapper {
    position: absolute;
    @include flex-center;
    width: 32px;
    height: 32px;
    background: #06A1A6;
    border-radius: 50%;
    right: -9px;
    top: -9px;
}

.checkMark {
    padding: 7px;
    border: 4px solid #fff;
    border-radius: 55%;
    width: 44px;
    height: 37px;
}

//Adaptive

@media screen and (max-width: 885px) {
    .wrapperCards {
        flex-wrap: wrap;
        justify-content: center;
    }
        .mainImg {
            width: 150px;
            height: 150px;
        }
            .titleInner {
                color: #181818;
                font-size: 19.5px;
            }
}