
.mapContainer {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
}

.title {
  display: flex;
  justify-content: center;
  max-width: 805px;
}

.titleInner {
  font-family: 'Lato-Bold';
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.expandButton {
  display: flex;
  align-items: center;
  gap: 9px;
  position: absolute;
  top: 20px;
  left: 50%; // Центрируем по горизонтали
  transform: translateX(-50%); // Сдвигаем на половину своей ширины
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  max-width: 500px; // Максимальная ширина
  width: 90%; // Адаптивная ширина
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}

.inputInner {
    width: 100%;
    height: 30px;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    font-family: 'Lato-Bold';
}

.inputInner::placeholder {
    font-family: 'Lato-Regular';
    font-size: 14px;
}

.icon {
    padding-top: 3.5px;
}

//Adaptive

@media screen and (max-width: 640px) {
  .titleInner {
    font-size: 21px;
  }
    .title {
      padding-bottom: 30px;
      justify-content: flex-start;
    }
}