

.titleInputNameWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.wrapperInput {
    width: 648px;
}

//Adaptive

@media screen and (max-width: 670px) {
    .titleInner {
        font-size: 25px;
    }
        .wrapperInput {
            width: 100%;
        }
            .titleInputNameWrapper {
                gap: 25px;
            }
}