

.headerBackWrapper {
    position: relative;
    background-image: url('../../../../public/assets/img/header-back.jpg');
    background-repeat: no-repeat;
    height: 785px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.headerBackPhotoWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #00000063;
    backdrop-filter: blur(40px);
    overflow: hidden;
    width: 298px;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
}

.arrow {
    padding-top: 5px;
}

.headerBackNavWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerBackNav {
    position: relative;
    width: 780px;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    gap: 70px;
    height: 48px;
    border-top-left-radius: 100px;
    border-top-right-radius: 63px;
}

.headerBackWhite {
    padding-top: 19px;
}

.headerBackNavModify {
    background: #fff;
    min-height: 65px;
    padding-left: 40px;
    border-top-right-radius: 40px;
    width: 265px;
    border-top-left-radius: 31px;
}

.headerBackModifyColor {
    color: #000 !important;
}

.headerBackContainer {
    padding: 0 10px;
    position: absolute;
    bottom: 10px;
}

.headerBackPhoto {
    font-family: 'Lato-Regular';
    color: #fff;
}

.headerBackNavText {
    font-family: 'Lato-Regular';
    color: #757575;
}

.headerBackPhotoSpan {
    border-bottom: 1px solid;
}

.borderRight {
    position: absolute;
    right: -65px;
    bottom: -4px;
}

.borderLeft {
    position: absolute;
    left: 224px;
    top: -8px;
}