@use '../../../app/styles/variables.scss' as *;

.modalSearchSetWrapperFull {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #0000004b;
    z-index: 1000;
}

.modalSearchSetWrapper {
    position: relative;
    width: 1256px;
    height: 700px;
    position: absolute;
    background: #fff;
    border-radius: 20px;
    overflow: auto;
}

.partsWrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 110px;
    padding: 100px 0 56px 0;
}

.modalHeaderWrapper {
    position: fixed;
    z-index: 9999;
}

.modalHeader {
    width: 1256px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 29px 30px 25px rgba(0, 0, 0, 0.085);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.leftPartWrapper {
    width: 370px;
}

.leftPartSet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.titleInner {
    font-family: 'Lato-Bold';
    font-size: 20px;
}

.resetInner {
    @include reset-button;
    font-family: 'Lato-Regular';
    border-bottom: 1px solid #757575;
    color: #757575;
}

.modalHeaderRight {
    display: flex;
    gap: 7px;
}

.buttonResetInner, .buttonShowInner {
    @include reset-button;
}

.buttonResetInner {
    width: 161px;
    height: 56px;
    border: 1px solid #7575755d;
    border-radius: 15px;
    color: #06A1A6;
    font-size: 15px;
}

.modalTitileInner {
    font-family: 'Lato-Bold';
    font-size: 32px;
    color: #3E3E3E;
}

.buttonShowInner {
    width: 236px;
    height: 56px;
    background: #06A1A6;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 15px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemsWrapperSwitch {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemsReverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.itemsText {
    padding: 40px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemsInner {
    display: flex;
    gap: 5px;
}


.itemsInnerNumbers {
    display: flex;
    gap: 5.5px;
}

.numbersWrapper {
    display: flex;
    width: 237px;
    justify-content: space-between;
    align-items: center;
}

.itemsInnerSwitch {
    display: flex;
    justify-content: space-between;
}

.textModify {
    padding-bottom: 5px;
}

.text {
    padding-top: 5px;
}

.textInner, .textNumrsInner {
    font-family: 'Lato-Regular';
}

.textInnerSwitch, .titleLeftPartInner {
    font-family: 'Lato-Bold';
}

.titleLeftPartInner {
    font-size: 20px;
}

.textNumrsInner {
    font-size: 14px;
    color: #757575;
}

.modalSearchSetWrapper {
  &::-webkit-scrollbar {
    display: none;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: #06A1A6;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    margin: 15px 0;
    border-radius: 6px;
  }

//   transform: translateZ(0); 
  -webkit-overflow-scrolling: touch;
}

.krestContainer {
    position: relative;
    width: 1256px;
}

.krest {
    @include flex-center;
    position: absolute;
    right: -45px;
    top: -350px;
    z-index: 999;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.krestImg {
    width: 15px;
    height: 15px;
}

//Adaptive

@media screen and (max-width: 1260px) {
    .partsWrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 20px 165px 10px;
        gap: 0;
    }
        .modalHeader {
            box-shadow: none;
            justify-content: center;
            align-items: center; 
            text-align: center; 
            gap: 15px;
            width: 100%;
        }
            .buttonShow {
                display: none;
            }
                .buttonResetInner {
                    border: none;
                }
                    .modalSearchSetWrapper {
                        margin-top: 120px;
                        width: 100%;
                        height: 100%;
                        overflow: auto ;
                    }
                        .numbersWrapper {
                            width: 350px;
                        }
                            .leftPartSet {
                                padding-top: 136px;
                            }
                                .sliderMobile {
                                    padding-left: 10px;
                                }
                                    .modalTitileInner {
                                        font-size: 25px;
                                    }
                                        .krestMobile {
                                            @include flex-center;
                                            width: 40px;
                                            height: 40px;
                                            border: 1px solid #d1d1d1;
                                            border-radius: 13px;
                                        }
}