

.width {
   width: 312px;
}

.inputs {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.title {
   padding: 50px 0 40px 0;
}

.titleInner {
   font-family: 'Lato-Bold';
}

//Adaptive

@media screen and (max-width: 1210px) {
   .width, .mobile {
      width: 100%;
   }
      .title {
         padding: 42px 0 20px 0;
      }
}