@use '../../../app/styles/variables.scss' as *;

.authPersonalWrapper {
    display: flex;
    align-items: center;
    gap: 19px;
    border-radius: 25px;
    box-shadow: -2px 30px 22px #00000026;
    margin-bottom: 20px;
    justify-content: space-between;
}

.leftImg {
    height: 812px;
}

.leftImgInner {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-bottom: 20px;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.description {
    padding: 10px 0 40px 0;
    max-width: 370px;
}

.descriptionCode {
    padding-top: 20px;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    text-align: center;
    color: #181818;
}

.descriptionInnerCode {
    font-family: 'Lato-Bold';
    text-align: center;
    color: #181818;
    font-size: 17px;
}

.buttonInner {
    width: 360px;
    height: 64px;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 17px;
    @include reset-button;
    background: #06A1A6;
}

.personalData {
    padding: 35px 0 35px 0;
    max-width: 620px;
}

.personalDataInner {
    font-family: 'Lato-Regular';
    color: #757575;
}

.rightPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
}

.arrowWrapper {
    display: flex;
    align-items: center;
    gap: 150px;
    width: 635px;
}

.arrow {
    cursor: pointer;
    padding-bottom: 10px;

    svg {
        stroke: #000;
    }

}

.inputSquareWrapper {
    display: flex;
    gap: 10px;
}

.bold {
    font-family: 'Lato-Bold';
    font-size: 16px;
}

//Adaptive

@media screen and (max-width: 1245px) {
    .leftImg {
        display: none;
    }
        .rightPart {
            align-items: center;
            width: 100%;
        }
            .arrowWrapper {
                gap: 25px;
                width: 100%;
                justify-content: center;
            }
                .titleInner {
                    font-size: 25px;
                }
                    .descriptionInner {
                        max-width: 228px;
                    }
                        .authPersonalWrapper {
                            box-shadow: none;
                        }
                            .arrow {
                                @include flex-center;
                                border: 1px solid #dbdbdb;
                                border-radius: 13px;
                                width: 40px;
                                height: 40px;
                                position: absolute;
                                left: 20px;
                                top: 40px;
                                padding: 0;

                                svg {
                                    stroke: #06A1A6;
                                }
                            }
}