@use '../../../app/styles/variables.scss' as *;

.buttonWrapper {
    @include flex-center;
    width: 184px;
    height: 64px;
    background: #06A1A6;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.buttonWrapper:hover {
    background: #04797d
}

.button {
    @include reset-button;
    width: 184px;
    height: 64px;
    font-size: 18px;
    font-family: 'Lato-Regular';
    color: #fff;
}