@use '../../../app/styles/variables.scss' as *;

.popularWrapper {
    display: flex;
    justify-content: space-between;
}

.popularLeftPartFullWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popularLeftPart {
    display: flex;
    gap: 25px;
}

.popularRightPart {
    @include flex-column;
    gap: 25px;
}

.popularCardLeft, .popularCardRight {
    position: relative;
}

.popularVariantsInner {
    font-family: 'Lato-Regular';
    color: var(--main-color-text);
}

.popularVariants, .popularVariantsBig {
    top: 20px;
    left: 20px;
    position: absolute;
    @include flex-center;
    width: 110px;
    height: 30px;
    background: #E6F6F6;
    border-radius: 5px;
}

.popularText {
    max-width: 200px;
    bottom: 35px;
    left: 20px;
    position: absolute;
}

.popularTextBig {
    bottom: 30px;
    left: 20px;
    position: absolute;
}

.popularTextInner {
    color: #fff;
    font-family: 'Lato-Bold';
    font-size: 20px;
}

.variantsNumber {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px 0 15px;
    height: 117px;
    border: 1px dashed #D1D1D1;
    border-radius: 20px;
}

.mobile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popularNumberText {
    max-width: 210px;
}

.poularNumberTextInner {
    font-family: 'Lato-Regular';
}

.popularNumberInner {
    font-size: 50px;
    font-family: 'Lato-Bold';
}

.popularImgLeft {
    height: 352px;
}

.popularImgRight {
    height: 232px;
}

.popularImgLeft, .popularImgRight {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.popularImgInnerRight, .popularImgInnerLeft {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}


//Adaptive

@media screen and (max-width: 1100px) {
    .popularWrapper {
        flex-direction: column-reverse;
        gap: 25px;
    }
        .popularLeftPart {
            flex-direction: column;
            align-items: center;
        }
            .popularImgLeft, .popularImgRight {
                width: 360px;
                height: 131px;
            }
                .popularVariants, .popularVariantsBig {
                    background: #fff;
                    border-radius: 25px;
                }
                    .variantsNumber {
                        width: 343px;
                        height: 154px;
                        flex-direction: column;
                        align-items: center;
                    }
                        .popularNumberInner {
                            font-size: 35px;
                        }
                            .mobilePopular {
                                width: 100%;
                            }
                                .popularLeftPartFullWrapper {
                                    align-items: center;
                                }
                                    .popularText, .popularTextBig {
                                        max-width: 100%;
                                        bottom: 16px;
                                    }
}