
.border {
    border-bottom: 1px solid #D1D1D1;
    padding-top: 20px;
    margin-bottom: 15px;
}

.wrapper {
    padding: 0 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1725490196);
    border-radius: 25px;
}