@use '../../../../app/styles/variables.scss' as *;

.profileButtonsWrapper {
    padding-top: 50px;
}

.title {
    padding-bottom: 30px;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.buttons {
    @include flex-center;
    gap: 20px;
    width: 444px;
    height: 64px;
    display: flex;
    background: #f1f1f1;
    border-radius: 15px
}

.buttonItem {
    @include reset-button;
    width: 205px;
    height: 48px;
    font-family: 'Lato-Regular';
    font-size: 15px;
}

.active {
    width: 205px;
    height: 48px;
    background: #047174;
    border-radius: 15px;
    color: #fff;
}

//Adaptive

@media screen and (max-width: 1210px) {
    .buttons {
        width: 320px;
    }
        .active, .buttonItem {
            width: 142px;
        }
            .profileButtonsWrapper {
                padding-bottom: 40px;
            }
                .titleInner {
                    font-size: 27px;
                }   
}