@use '../../../../app/styles/variables.scss' as *;


.buyPointWrapper {
    padding-top: 45px;
}

.wrapperCheckTitle {
    display: flex;
    gap: 73px;
}

.wrapperCheck {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkItem {
    display: flex;
}

.text {
    padding-top: 6.2px;
}

.titleCheckInner {
    font-family: 'Lato-Bold';
}

.textInner {
    font-family: 'Lato-Regular';
    font-size: 14px;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leftButtonWrapper {
    cursor: pointer;
    @include flex-center;
    width: 176px;
    height: 56px;
    gap: 5px;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border-radius: 15px;
}

.buttonLeft {
    padding-bottom: 4px;
}

.buttonLeftInner {
    font-size: 15px;
}

.rightButtonInner, .buttonLeftInner {
    @include reset-button;
    font-family: 'Lato-Bold';
}

.rightButton {
    cursor: pointer;
    @include flex-center;
    width: 211px;
    height: 56px;
    gap: 5px;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border-radius: 15px;
}

.rightButtonInner {
    font-size: 15px;
}

.modifyWidth {
    max-width: 325px;
}

.textWrapper {
    display: flex;
    padding-top: 5.5px;
    gap: 20px;
}

.timeTextInner {
    font-family: 'Lato-SemiItalic';
    font-size: 13px;
    color: #757575;
}

//Adaptive

@media screen and (max-width: 780px) {
    .wrapperCheckTitle {
        flex-direction: column;
        gap: 10px;
    }
        .titleInner {
            font-size: 25px;
        }
            .textInner {
                font-size: 15px;
            }
}