@use '../../../app/styles/variables.scss' as *;

.popularWrapper {
    @include flex-center;
    gap: 10px;
    width: 175px;
    height: 56px;
    border-radius: 16px;
    background: #06A1A6;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #04797d;
    }
}

.popularTextInner {
    font-family: 'Lato-Regular';
    color: #fff;
}

.popularImgInner {
    padding-top: 7px;
}