@use '../../../../../app/styles/variables.scss' as *;



.title {
    padding-bottom: 30px;
}

.titleInner {
    font-family: 'Lato-Regular';
    font-size: 27px;
    color: #181818;
}

.internetWrapper {
    padding-top: 45px;
}

.wrapperCheckTitle {
    display: flex;
    gap: 162px;
}

.wrapperCheck {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkItem {
    display: flex;
    gap: 10px;
}

.text {
    padding-top: 2px;
}

.titleCheckInner {
    font-family: 'Lato-Bold';
}

.textInner {
    font-family: 'Lato-Regular';
    font-size: 14px;
}

.buttonsWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leftButtonWrapper {
    cursor: pointer;
    @include flex-center;
    width: 176px;
    height: 56px;
    gap: 5px;
    display: flex;
    align-items: center;
    background: #F7F7F7;
    border-radius: 15px;
}

.buttonLeft {
    padding-bottom: 4px;
}

.buttonLeftInner {
    font-size: 15px;
}

.buttonLeftInner {
    @include reset-button;
    font-family: 'Lato-Bold';
}

//Adaptive

@media screen and (max-width: 675px) {
    .titleInner {
        font-size: 20px;
        color: #181818;
    }
        .wrapperCheckTitle {
            flex-direction: column;
            gap: 15px;
        }
            .textInner {
                font-size: 17px;
                margin-top: -3px;
            }

}