

.formGuestWrapper {
    margin-top: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2078431373);
    border-radius: 15px;
    padding: 35px 25px;
}

.title {
    padding-bottom: 30px;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.description {
    padding-bottom: 20px;
}

.descriptionInner {
    font-family: 'Lato-Regular';
}

.inputsWrapper {
    display: flex;
    gap: 20px;
}

.inputInner {
    padding: 3px 0 0 3px;
    background: none;
    border: none;
    font-family: 'Lato-Regular';
    font-size: 17px;
    width: 100%;
    outline: none;
}

.inputItem {
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    width: 424px;
    height: 64px;
    border-radius: 15px;
    padding: 10px 16px 4px 16px;
}

.surnameInner {
    font-family: 'Lato-Regular';
    color: #757575;
}

.plus {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.plusWrapper, .plusText {
    display: flex;
    align-items: center;
}

.plusText {
    padding-bottom: 5px;
    gap: 3px;
}

.plusWrapper {
    padding-top: 40px;
    gap: 5px;
}

.plusTextTitleInner {
    font-family: 'Lato-Regular';
    border-bottom: 1px solid #047174;
    color: #047174;
}

.plusTextDescription {
    padding-bottom: 4px;
}

.plusTextDescriptionInner {
    font-family: 'Lato-Regular';
    color: #757575;
}

.data {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.dataText {
    padding-top: 2px;
}

.dataTextInner {
    color: #757575;
    font-family: 'Lato-Regular';
}

//Adaptive

@media screen and (max-width: 865px) {
    .inputsWrapper {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
        .inputItem {
            width: 100%;
        }
            .data {
                gap: 5px;
            }
                .dataTextInner {
                    font-size: 13.5px;
                }
                    .formGuestWrapper {
                        padding: 21px 17px;
                    }
                        .descriptionInner {
                            font-family: 'Lato-Bold';
                        }
                            .titleInner {
                                font-size: 21px;
                            }
}