@use '../../../app/styles/variables.scss' as *;

.relaxBack {
    position: relative;
    background-image: url('../../../../public/assets/img/Relax.jpg');
    background-repeat: no-repeat;
    height: 305px;
    width: 100%;
    border-radius: 30px;
    margin-top: 70px;
    background-position: 74%;
}

.relaxWrapper {
    @include flex-column;
    text-align: center;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 20px;
    top: 58%;
}

.textInner {
    font-family: 'Lato-Bold';
    font-size: 40px;
    color: #fff;
}

.descriptionInner {
    color: #fff;
    font-size: 16px;
    font-family: 'Lato-Regular';
}

//Adaptive

@media screen and (max-width: 905px) {
    .relaxWrapper {
        text-align: center;
        top: 50%;
    }
        .textInner {
            font-size: 30px;
        }
            .description {
                max-width: 265px;
            }
}