

.cardImagesWrapper {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.absoluteWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 48px;
    bottom: 25px;
    left: 40px;
    position: absolute;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.textInner {
    font-family: 'Lato-Regular';
    color: #757575;
    font-size: 14px;
}

.imgInner {
    padding-top: 4px;
}

//Adaptive 

@media screen and (max-width: 1335px) {
    .column {
        display: none;
    }
        .cardItemInner {
            width: 359px;
            height: 224px;
        }
}