@use '../../../../app/styles/variables.scss' as *;

.canRegisterWrapper {
    position: relative;
    height: 400px;
    background: #CDECED;
    border-radius: 15px;
}

.title {
    padding: 55px 0 0 22px;
    max-width: 300px;
}

.titleInner {
    font-family: 'Lato-Bold';
    font-size: 28px;
}

.borderBoxClean {
    position: absolute;
    width: 141px;
    height: 56px;
    border: 1px solid #fff;
    border-radius: 15px;
    top: 149px;
    transform: rotate(3deg);
}

.borderBoxCleanTwo {
    position: absolute;
    width: 41px;
    height: 67px;
    border: 1px solid #fff;
    border-radius: 15px;
    transform: rotate(29deg);
    bottom: 60px;
    left: 13px;
}

.borderBoxCleanThree {
    position: absolute;
    width: 140px;
    height: 64px;
    border: 1px solid #fff;
    border-radius: 15px;
    bottom: 5px;
    left: 198px;
}

.borderBoxIndivid {
    @include flex-center;
    position: absolute;
    width: 355px;
    height: 64px;
    border-radius: 15px;
    top: 231px;
    transform: rotate(9deg);
    background: #fff;
    left: 1%;
}

.borderBoxIndividInner {
    font-family: 'Lato-Bold';
}

.borderBoxFace {
    @include flex-center;
    position: absolute;
    width: 194px;
    height: 64px;
    background: #fff;
    border-radius: 15px;
    top: 154px;
    transform: rotate(-7deg);
    left: 150px;
}

.borderBoxSolo {
    @include flex-center;
    position: absolute;
    width: 160px;
    height: 56px;
    background: #fff;
    border-radius: 15px;
    bottom: 3%;
    left: 3%;
    transform: rotate(-7deg);
}
