@use '../../../../app/styles/variables.scss' as *;

.headerBackNavWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 112px;
   height: 90px;
}

.headerBackNav {
    position: relative;
    bottom: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
}

.headerBackWhite {
    padding-top: 19px;
}

.headerBackModifyColor {
    color: #000 !important;
}

.headerBackNavImg {
   @include flex-center;
   width: 48px;
   height: 48px;
   background: #f4f4f4;
   border-radius: 12px;
}

.headerBackNavTextInner {
   text-align: center;
   color: #757575;
   font-family: 'Lato-Regular';
   font-size: 13.5px;
}