

.romanceTitle {
    padding: 70px 0 40px 0;
}

.romanceTitleInner {
    font-family: 'Lato-Bold';
}

@media screen and (max-width: 905px) {
    .romanceTitle {
        max-width: 190px;
    }
        .romanceTitleInner {
            font-size: 24px;
        }
}