@use '../../../app/styles/variables.scss' as *;

.authPersonalWrapper {
    display: flex;
    align-items: center;
    gap: 19px;
    border-radius: 25px;
    box-shadow: -2px 30px 22px #00000026;
    margin-bottom: 20px;
}

.leftImg {
    height: 812px;
}

.leftImgInner {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-bottom: 20px;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.description {
    padding-bottom: 40px;
}

.description {
    max-width: 350px;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    text-align: center;
    color: #181818;
}

.inputInner {
    padding: 10px 0 0 3px;
    background: none;
    border: none;
    font-family: 'Lato-Regular';
    font-size: 17px;
    width: 100%;
    outline: none;
}

.numberEmailInner {
    font-family: 'Lato-Regular';
    color: #757575;
    font-size: 14px;
}

.numberEmailWrapper {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    width: 360px;
    height: 64px;
    border-radius: 15px;
    padding: 5px 16px 4px 16px;
}

.buttonsWrapper {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.buttonEnter {
    font-family: 'Lato-Bold';
    font-size: 14px;
}

.buttonItem {
    @include flex-center;
    cursor: pointer;
    width: 360px;
    height: 48px;
    display: flex;
    background: #F7F7F7;
    border-radius: 15px;
    gap: 8px;
}

.inputBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.buttonInner {
    width: 360px;
    height: 64px;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 17px;
    @include reset-button;
    background: #06A1A6;
}

.buttonEnter {
    @include reset-button;
}

.border {
    height: 1px;
    background: #D1D1D1;
    width: 145px;
}

.borderText {
    border-bottom: 1px solid #757575;
}

.orWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
}

.personalData {
    padding-top: 120px;
    max-width: 620px;
}

.personalDataInner {
    font-family: 'Lato-Regular';
    color: #757575;
}

.orInner {
    font-family: 'Lato-Regular';
    color: #757575;
}