@use '../../../app/styles/variables.scss' as *;

.headerWraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerRight, .headerHeart, .headerConnect, .headerEnter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerRight {
    gap: 20px;
}

.headerHeart {
    position: relative;
    background: #F7F7F7;
    width: 55px;
    height: 55px;
    border-radius: 18px;
    cursor: pointer;
}

.headerCountHeart {
    @include flex-center;
    position: absolute;
    top: 0;
    left: 40px;
    background: #000;
    width: 22px;
    height: 21.5px;
    border-radius: 50%;
}

.headerCountHeartText {
    position: absolute;
    left: 6.5px;
    color: #fff;
    font-family: 'Lato-Regular';
}

.headerLogoText {
    font-family: 'Lato-Bold';
}

.headerEnterText, .headerConnectText, .headerCountHeartText {
    font-family: 'Lato-Regular';
    font-size: 16px;
}

.headerConnectText, .headerEnterText {
    @include reset-button;
}

.headerEnterText {
    transition: all 0.4s;
}

.headerConnect {
    transition: all 0.4s;
    background: #F7F7F7;
    width: 200px;
    height: 50px;
    border-radius: 18px;
    gap: 10px;
    cursor: pointer;

    &:hover {
        .headerConnectText {
            transition: all 0.3s;
            color: #fff;
        }
        .headerConnectText {
            transition: all 0.3s;
}

    }
}

.headerConnect:hover {
    transition: all 0.4s;
    background: #047174;
}

.headerConnectText {
    transition: all 0.5s;
}

.headerEnter {
    transition: all 0.4s;
    background: #E6F6F6;
    width: 109px;
    height: 50px;
    border-radius: 18px;
    gap: 7px;
    cursor: pointer;

    &:hover {
        .headerEnterText {
            transition: all 0.4s;
            color: #fff;
        }
    }
}

.headerEnter:hover {
    transition: all 0.4s;
    background: #047174;
}


