@use '../../../../app/styles/variables.scss' as *;

.authPersonalWrapper {
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.5); 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 90px; 
}

.rightPart {
    background: #fff;
    width: 100%;
    max-width: 500px; 
    border-radius: 35px 35px 0 0;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.krest {
   top: 0;
   right: 0;
   position: absolute;
   @include flex-center;
   width: 40px;
   height: 40px;
   border: 1px solid #bdbdbd;
   border-radius: 13px;
}

.leftImg {
    height: 812px;
}

.leftImgInner {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.textWrapper {
   position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 42px 0 20px 0;
}

.titleInner {
    font-family: 'Lato-Bold';
    font-size: 25px;
    max-width: 235px;
    text-align: center;
}

.description {
    padding-bottom: 40px;
}

.description {
    max-width: 350px;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    text-align: center;
    color: #181818;
}

.inputInner {
    padding: 10px 0 0 3px;
    background: none;
    border: none;
    font-family: 'Lato-Regular';
    font-size: 17px;
    width: 100%;
    outline: none;
}

.numberEmailInner {
    font-family: 'Lato-Regular';
    color: #757575;
    font-size: 14px;
}

.numberEmailWrapper {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    width: 360px;
    height: 64px;
    border-radius: 15px;
    padding: 5px 16px 4px 16px;
}

.buttonsWrapper {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.buttonEnter {
    font-family: 'Lato-Bold';
    font-size: 14px;
}

.buttonItem {
    @include flex-center;
    cursor: pointer;
    width: 360px;
    height: 48px;
    display: flex;
    background: #F7F7F7;
    border-radius: 15px;
    gap: 8px;
}

.inputBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.buttonInner {
    width: 360px;
    height: 64px;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 17px;
    @include reset-button;
    background: #06A1A6;
}

.buttonEnter {
    @include reset-button;
}

.border {
    height: 1px;
    background: #D1D1D1;
    width: 145px;
}

.borderText {
    border-bottom: 1px solid #757575;
}

.orWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
}

.personalData {
    padding-top: 12px;
    max-width: 620px;
}

.personalDataInner {
    font-family: 'Lato-Regular';
    color: #757575;
    font-size: 14px;
}

.orInner {
    font-family: 'Lato-Regular';
    color: #757575;
}