

.mainWrapper {
  position: relative;
  min-height: 100vh;
}

.advantagesEmployeeWrapper {
  display: flex;
  background: #F7F7F7;
  padding: 45px 150px 0 85px;
  border-radius: 15px;
  margin: 100px 0;
  gap: 85px;
  justify-content: flex-end;
}

.img {
  position: -webkit-sticky;
  position: sticky;
  height: 540px;
  top: 80px;
  left: 0;
  z-index: 1;
}

.rightPart {
  width: 55%;
  max-width: 590px;
}

.wrapperScroll {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantagesItem {
  width: 100%;
  height: 212px;
  border-radius: 15px;
  border: 1px solid #D1D1D1;
  padding: 20px;
  background: white;
}

.title {
  padding-bottom: 50px;
}

.titleInner, .titleInnerNext {
  font-family: 'Lato-Bold';
  font-size: 40px;
}

.vector {
  position: absolute;
  top: 204px;
  right: 150px;
}

.vectorTwo {
  position: absolute;
  bottom: 0;
}

.vectorThree {
  position: absolute;
  top: 430px;
  right: 155px;
}

.elips {
  position: absolute;
  right: 305px;
  top: 244px;
}

.elipsTwo {
  position: absolute;
  top: 610px;
  right: 235px;
}

.elipsThree {
  position: absolute;
  bottom: 18px;
  right: 190px;
}

.titleItemInner {
  font-family: 'Lato-Bold';
  max-width: 280px;
  color: #047174;
  font-size: 32px;
}

.description {
  padding-top: 32px;
  max-width: 444px;
}

.descriptionInner {
  font-family: 'Lato-Regular';
  font-size: 14px;
  color: #3E3E3E;
}

.modifyPad {
  max-width: 470px;
}