

.backWrapper {
    width: 1320px;
    height: 845px;
    background-image: url('../../../public/assets/img/auth-extra.jpg');
    margin-top: 20px;
    border-radius: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}