@use '../../../../app/styles/variables.scss' as *;

.titleWrapper {
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
 
.titleInner {
    font-family: 'Lato-Bold';
}



.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemCard {
    padding: 12px 20px 12px 12px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid #e8e8e8;
    border-radius: 15px;
}

.titleInformationInner {
    font-family: 'Lato-Bold';
}

.description {
    padding: 15px 0 25px 0;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    color: #757575;
    font-size: 14px;
}

.idWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.idImg {
    cursor: pointer;
}

.idInner, .idNumberInner, .red {
    font-family: 'Lato-Regular';
}

.red {
    color: #FF5508;
}

.redBlock {
    @include flex-center;
    width: 152px;
    height: 36px;
    background: #FDEFE9;
    border-radius: 10px;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dots {
    cursor: pointer;
    @include flex-center;
    width: 48px;
    height: 48px;
    background: #F7F7F7;
    border-radius: 15px;
}

.buttonDotWrapper {
    display: flex;
    gap: 20px
}

.buttonInnerDot {
    @include reset-button;
    width: 231px;
    height: 48px;
    background: #06A1A6;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 15px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stasusWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

//Adaptive

@media screen and (max-width: 1095px) {
    .idWrapper, .dots {
        display: none;
    }
        .wrapper {
            justify-content: normal;
            flex-direction: column;
            padding: 9px 0 12px 12px;
        }
            .itemCard {
                align-items: normal;
                flex-direction: column;
                gap: 2px;
                padding: 0;
            }
                .description {
                    padding: 1px 0 12px 0;;
                }
                    .titleInformationInner {
                        font-size: 20px;
                    }
                        .imgInner {
                            width: 100%;
                            height: 200px;
                            border-radius: 17px 17px 0 0;
                        }
                            .stasusWrapper {
                                align-items: normal;
                                flex-direction: column;
                            }
                                .buttonDotWrapper {
                                    display: block;
                                }
                                    .buttonInnerDot {
                                        width: 100%;
                                    }
}