@use '../../../app/styles/variables.scss' as *;   


.auth {
    position: relative;
    @include flex-column;
    width: 488px;
    height: 547px;
    background: #fff;
    border-radius: 20px;
    gap: 40px;
}

.title {
    @include flex-column;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 15px;
    width: 360px;
    height: 64px;
    padding: 0 20px;
}

.inputInner {
    font-family: 'Lato-Bold';
    outline: none;
    border: none;
    background: none;
    font-size: 17px;
    width: 150%;
    height: 27px;
}

.inputInfoTitleInner {
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #757575;
}

.buttonInner {
    @include reset-button;
    width: 360px;
    height: 64px;
    background: #06A1A6;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 15px;
    border-radius: 15px;
}

.description {
    display: flex;
    gap: 7px;
}

.descriptionInner, .descriptionInnerRight {
    font-family: 'Lato-Regular';
}

.rightPart {
    cursor: pointer;
}

.descriptionInnerRight {
    border-bottom: 1px solid;
    color: #047174;
}

.inputInfoTextWrapper {
    display: flex;
    gap: 110px;
    align-items: center;
}

.forgotPasswordWrapper {
    display: flex; 
    justify-content: flex-end;
}

.forgotPasswordText {
    font-family: 'Lato-Regular';
    color: #047174;
    font-size: 14px;
}

.krest {
    top: 20px;
    right: 20px;
    position: absolute;
    @include flex-center;
    width: 40px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 13px;
}


//Adaptive

@media screen and (max-width: 1340px) {
    .titleInner {
        font-size: 25px;
    }
        .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            background: rgba(0,0,0,0.5); 
            display: flex;
            justify-content: center;
            align-items: flex-start; 
            padding-top: 90px; 
        }
            .auth {
                background: #fff;
                width: 100%;
                max-width: 500px; 
                border-radius: 35px 35px 0 0;
                padding: 20px;
                height: 100%;
                overflow-y: auto;
                justify-content: flex-start;
            }
}