

.kidsTitle {
    padding: 70px 0 40px 0;
}

.kidsTitleInner {
    font-family: 'Lato-Bold';
    font-size: 35px;
}

//Adaptive

@media screen and (max-width: 900px) {
    .kidsTitleInner {
        font-size: 24px;
    }
}