@use '../../../../app/styles/variables.scss' as *;


.blockBalance {
   position: relative;
   display: flex;
   align-items: center;
   gap: 150px;
   padding: 0 35px;
   background: #f4f4f4;
   border-radius: 15px;
   height: 144px;
   overflow: hidden;
}

.title {
   padding: 45px 0;
}

.titleInner {
   font-family: 'Lato-Bold';
}

.wrapperButtons {
   display: flex;
   gap: 30px;
}

.buttonExit {
   @include reset-button;
   width: 200px;
   height: 64px;
   background: #06A1A6;
   border-radius: 15px;
   color: #fff;
   font-family: 'Lato-Regular';
   font-size: 16px;
}

.buttonEnter {
   @include reset-button;
   width: 200px;
   height: 64px;
   border-radius: 15px;
   color: #06A1A6;
   font-family: 'Lato-Regular';
   font-size: 16px;
   border: 1px solid #c5c5c5;
   background: #fff;
}

.titleBalanceInner {
   font-family: 'Lato-Bold';
   font-size: 40px;
}

.descriptionInner {
   font-family: 'Lato-Regular';
   font-size: 14.5px;
   color: #757575;
}

.absoluteImg {
   position: absolute;
   right: 10.5%;
   top: 7%;
   
}

.absoluteImgWrapper {
   position: relative;
   top: 68%;
   width: 280px;
   height: 280px;
   background: #e8e7e7;
   border-radius: 50%;
   right: -6.2%;
}

.cyrcle {
   position: absolute;
   right: 27.5%;
   top: 20%;
   width: 30px;
   height: 30px;
   background: #e8e7e7;
   border-radius: 50%;
}