@use '../../../app/styles/variables.scss' as *;

.likeCommentWrapper, .likesInfoWrapper, .commentInfoWrapper {
    display: flex;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px; 
    gap: 20px;
    justify-content: space-between;
    height: 100%;
}

.blogCardWrapper {
    display: flex;
    gap: 35px;
}

.blogCard {
    transition: all 0.2s;
    overflow: hidden;
    width: 420px;
    height: 561px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D1D1D1;
    border-radius: 25px;

    &:hover {
        width: 420px;
        height: 561px;
        transition: all 0.2s;
        box-shadow: 0 0 15px #c5c5c5;
        border: #d1d1d100;
    }
}

.imgInner {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.commentCount {
    display: flex;
    gap: 7px;
}

.likesInfoWrapper, .commentInfoWrapper {
    gap: 7px;
    cursor: pointer;
}

.likeCommentWrapper {
    gap: 40px;
}

.avatarNameWrapper {
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.nameSpecialWrapper {
    display: flex;
    flex-direction: column;
}

.blogTitleInner {
    font-family: 'Lato-Bold';
    font-size: 16px;
}

.likeCountInner, .commentCountInner {
    font-size: 15px;
    font-family: 'Lato-Bold';
}

.commentText {
    font-family: 'Lato-Regular';
    color: #757575;
}

.nameInner, .specialInner {
    font-family: 'Lato-Regular';
}

.specialInner {
    color: #757575;
    font-size: 14px;
}



//Adaptive

@media screen and (max-width: 1100px) {
    .blogCard {
        min-width: 272px;
        height: 440px;
        margin-bottom: 15px;
    }
        .imgInner {
            width: 100%;
        }
            .contentContainer {
                gap: 0;
                height: 56%;
            }
                .blogCardWrapper {
                    overflow: auto !important;
                    &::-webkit-scrollbar {
                    display: none; 
                    }
                    -ms-overflow-style: none;  
                    scrollbar-width: none;  
                }
                    .blogCard {
                        min-height: 272px;
                    }
}