@use '../../../app/styles/variables.scss' as *;

.mainWrapper {
    padding: 120px 0;
    @include flex-column;
}

.wrapper {
    @include flex-column;
    width: 648px;
    height: 220px;
    border: 1px dashed #D1D1D1;
    border-radius: 15px;
}

.titleText {
    padding: 15px 0 25px 0;
}

.titleTextInner {
    font-family: 'Lato-Bold';
}

.descriptionInner {
    font-family: 'Lato-Regular';
}

//Adaptive

@media screen and (max-width: 670px) {
    .wrapper {
        width: 100%;
    }
        .descriptionInner {
            text-align: center;
        }
}