@use '../../../app/styles/variables.scss' as *;


.inputWrapper {
    width: 424px;
    height: 64px;
    background: #f1f1f1;
    border-radius: 15px;
    padding: 0 15px;
}

.title {
    padding: 30px 0;
}

.titleInner {
    font-family: 'Lato-Bold';
}

.inputIcon {
    display: flex;
    align-items: center;
    gap: 70px;
}

.inputFullWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.icon {
    cursor: pointer;
}

.inputTextInner {
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #757575;
}

.inputInner {
    width: 300px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    font-family: 'Lato-Regular';
}

.inputText {
    padding: 5px 0 0 0;
}

.description {
    padding-top: 17px;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #757575;
}

.modifyPad {
    margin-top: 15px;
}

.buttonsWrapper {
    padding: 45px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.buttonInner {
    @include reset-button;
    width: 424px;
    height: 64px;
    background: #06A1A6;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 16px;
}

.buttonPassword {
    background: none;
    color: #06A1A6;
    border: 1px solid #b5b5b5;
}

//Adaptive

@media screen and (max-width: 1240px) {
    .inputWrapper, .buttonInner {
        width: 100%;
    }
}