@use '../../../app/styles/variables.scss' as *;

.wrapperBlocks {
    @include flex-center;
    gap: 30px;
}

.itemBlock {
    position: relative;
    background: #F7F7F7;
    @include flex-column;
    border-radius: 15px;
    height: 210px;
}

.titleBlock {
    height: 105px;
    padding-bottom: 45px;
    max-width: 300px;
}

.titleBlockDesc {
    height: 50px;
    max-width: 300px;
}

.number {
    top: -28px;
    position: absolute;
    @include flex-center;
    width: 56px;
    height: 56px;
    background: #757575;
    border-radius: 15px;
}

.numberInner {
    font-family: 'Lato-Bold';
    font-size: 20px;
    color: #fff;
}

.titleBlockInner {
    font-family: 'Lato-Bold';
    text-align: center;
}

.description {
    max-width: 250px;
    text-align: center;
}

.descriptionInner {
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #757575
}

.wrapper {
    @include flex-column;
    gap: 20px;
}

.title {
    @include flex-center;
    padding-bottom: 100px;
}

.titleInner {
    font-family: 'Lato-Bold';
    font-size: 40px;
    max-width: 600px;
    text-align: center;
}

.span {
    font-family: 'Lato-SemiItalic';
    color: #06A1A6;
}

//Adaptive

@media screen and (max-width: 890px) {
    .wrapperBlocks {
        flex-direction: column;
        gap: 50px;
    }
        .titleInner {
            font-size: 25px;
            max-width: 200px;
        }
            .itemBlock {
                height: 100%;
                padding: 28px 0 28px 0;
            }
                .mobile {
                    padding-bottom: 28px;
                }
                    .titleBlock {
                        height: 100%;
                        padding-bottom: 0;
                    }
                        .titleBlockInner {
                            font-size: 21px;
                            max-width: 284px;
                        }
                            .wrapper {
                                gap: 5px;
                            }
                                .title {
                                    padding-bottom: 54px;
                                }
}