

.containerToBook {
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
}

.containerMain {
    max-width: 874px;
    padding: 10px 0 10px 0;
}

.border {
    border-bottom: 1px solid #D1D1D1;
}

.wrapper {
   padding-top: 100px;
}