

.wrapper {
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
}

//Adaptive

@media screen and (max-width: 1327px) {
   .wrapper {
      flex-direction: column;
      gap: 20px;
   }
}