@use '../../../../app/styles/variables.scss' as *;


.bookingContactsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 20px 30px;
    width: 100%;
    height: 200px;
    background: #f1f1f1;
    border-radius: 25px;
}

.mainTitle {
    padding: 45px 0 20px 0;
}

.mainTitleInner {
    font-family: 'Lato-Bold';
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.iconItem {
    cursor: pointer;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 7px;
}

.iconText {
    padding-bottom: 5.5px;
}

.iconTextInner {
    font-family: 'Lato-Regular';
}

.buttonsWrapper {
    display: flex;
    gap: 8px;
}

.buttonItemInner {
    @include reset-button;
    transition: all 0.4s;
    padding: 7px 15px;
    background: #fff;
    border-radius: 10px;
    color: #047174;
    font-family: 'Lato-Bold';
    font-size: 16px;

    &:hover {
        background: #06A1A6;
        color: #fff;
    }
}

.buttonWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 40px;
}

.buttonInner {
    @include reset-button;
    transition: all 0.4s;
    width: 251px;
    height: 64px;
    background: #06A1A6;
    border-radius: 15px;
    color: #fff;
    font-family: 'Lato-Bold';
    font-size: 16px;

    &:hover {
        background: #058186;
        color: #fff;
    }
}

.buttonInnerBooking {
    @include reset-button;
    transition: all 0.4s;
    width: 252px;
    height: 64px;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    color: #06A1A6;
    font-family: 'Lato-Bold';
    font-size: 16px;

    &:hover {
        background: #06A1A6;
        color: #fff;
    }
}

//Adaptive

@media screen and (max-width: 890px) {
    .bookingContactsWrapper {
        background: #fff;
        box-shadow: 0 0 40px #00000027;
        padding-left: 15px;
    }   
        .buttonItemInner {
            width: 149px;
            height: 48px;
            background: #E6F6F6;
        }
                .mainTitleInner {
                    font-size: 20px;
                }
                    .buttonWrapper {
                        flex-direction: column;
                        align-items: normal;
                    }
                        .buttonInnerBooking, .buttonInner {
                            width: 100%;
                        }
}