@use '../../../app/styles/variables.scss' as *;


.buttonWrapper {
    @include flex-center;
    width: 165px;
    height: 36px;
    background: #E6F6F6;
    border-radius: 10px
}

.button {
    @include reset-button;
    color: var(--main-color-text);
    width: 165px;
    height: 36px;
    font-family: 'Lato-Regular';
}
