@use '../../../app/styles/variables.scss' as *;

.idButtonWrapper {
    cursor: pointer;
    margin-top: 20px;
    @include flex-center;
    width: 354px;
    height: 64px;
    display: flex;
    gap: 10px;
    background: #f3f3f3;
    border-radius: 15px;
}

.textInner {
    font-family: 'Lato-Bold';
}

.idInner {
    font-family: 'Lato-Regular';
    color: #757575;
}

//Adaptive

@media screen and (max-width: 1185px) {
    .idButtonWrapper {
        width: 295px;
        height: 48px;
        border-radius: 7px;
    }
        .textInner, .idInner {
            font-size: 15px;
        }
}