@use '../../../app/styles/variables.scss' as *;

.searchResultWrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchLeftPartInner {
    font-family: 'Lato-Bold';
    color: #3E3E3E;
}

.searchRightPart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchRightFilterInner {
    color: #757575;
    font-family: 'Lato-Regular';
    font-size: 14.4px;
}

.buttonOn, .buttonOff {
    @include reset-button;
    color: #fff;
    font-family: 'Lato-Regular';
    font-size: 15px;
}

.buttonOn {
    width: 160px;
    height: 56px;
    background: #f1f1f1;
    color: #000;
    border-radius: 15px;
}

.buttonWrapper {
    cursor: pointer;
    @include flex-center;
    width: 200px;
    height: 56px;
    background: #047174;
    gap: 8px;
    border-radius: 15px;
}

.crossInner {
    padding-top: 5px;
}

//Adaptive

@media screen and (max-width: 725px) {
    .searchLeftPart, .crossInner {
        display: none;
    }
        .buttonOn {
            width: 144px;
            height: 40px;
        }
            .buttonWrapper {
                width: 150px;
                height: 40px;
                background: #f1f1f1;
            }
                .buttonOff {
                    color: #000;
                }
                    .searchResultWrapper {
                        overflow: auto;
                        overflow: auto !important;
                        &::-webkit-scrollbar {
                        display: none; 
                        }
                        -ms-overflow-style: none;  
                        scrollbar-width: none;  
                    }
}