

.notifyWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FDEFE9;
    border-radius: 15px;
    height: 86px;
    gap: 8px;
}

.notifyTextInner {
    font-family: 'Lato-Regular';
}

.notifyText {
    max-width: 809px;
}

//Adaptive

@media screen and (max-width: 820px) {
    .notifyWrapper {
        align-items: flex-start;
        padding: 15px 23px;
        height: 100%;
        background: #fff;
        border: 1px solid #e3e3e3;
    }
}