@use '../../../../app/styles/variables.scss' as *;

.modalSearchSetWrapperFull {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #0000004b;
    z-index: 1000;
}

.modalSearchSetWrapper {
   position: absolute;
   background: #fff;
   margin-top: 120px;
   width: 100%;
   height: 100%;
   overflow: auto ;
   border-radius: 40px 40px 0 0;
}

.partsWrapper {
   display: flex;
   justify-content: center;
   padding: 100px 0 56px 0;
   flex-direction: column;
   align-items: center;
   padding: 0 20px 300px 10px;
   gap: 0;
}

.modalHeaderWrapper {
    position: fixed;
    z-index: 9999;
}

.modalHeader {
   background: #fff;
   display: flex;
   align-items: center;
   padding: 20px 40px;
   box-shadow: none;
   justify-content: space-between;
   text-align: center; 
   gap: 15px;
   width: 100vw;
   border-radius: 40px 40px 0 0;
}

.leftPartWrapper {
    width: 370px;
}

.leftPartSet {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 30px;
   padding-top: 136px;
}

.titleInner {
    font-family: 'Lato-Bold';
    font-size: 20px;
}

.resetInner {
    @include reset-button;
    font-family: 'Lato-Regular';
    border-bottom: 1px solid #757575;
    color: #757575;
}

.modalHeaderRight {
    display: flex;
    gap: 7px;
}

.buttonReset {
   padding-top: 7px;
}

.buttonResetInner {
    @include reset-button;
}

.buttonResetInner {
    color: #06A1A6;
    font-size: 15px;
}

.modalTitileInner {
    font-family: 'Lato-Bold';
    font-size: 25px;
    color: #3E3E3E;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemsWrapperSwitch {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemsReverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}

.itemsText {
    padding: 40px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemsInner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.mobileNumber {
   display: flex;
   align-items: center;
   gap: 10px;
}

.numbersWrapper {
    display: flex;
    width: 365px;
    justify-content: space-between;
    align-items: center;
}

.itemsInnerSwitch {
    display: flex;
    justify-content: space-between;
}

.textModify {
    padding-bottom: 5px;
}

.text {
    padding-top: 5px;
}

.textNumrs {
   padding-bottom: 5px;
}

.textInner, .textNumrsInner {
    font-family: 'Lato-Regular';
}

.textInnerSwitch, .titleLeftPartInner {
    font-family: 'Lato-Bold';
}

.titleLeftPartInner {
    font-size: 20px;
}

.textNumrsInner {
    font-size: 14px;
    color: #757575;
}

.modalSearchSetWrapper {
  &::-webkit-scrollbar {
    display: none;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: #06A1A6;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    margin: 15px 0;
    border-radius: 6px;
  }

//   transform: translateZ(0); 
  -webkit-overflow-scrolling: touch;
}

.krestImg {
    width: 15px;
    height: 15px;
}

.krestMobile {
   @include flex-center;
   width: 40px;
   height: 40px;
   border: 1px solid #d1d1d1;
   border-radius: 13px;
}

.mobileWrapper {
   display: flex;
   align-items: center;
   gap: 15px;
}

.showButton {
   @include flex-center;
   width: 102%;
   height: 100px;
   box-shadow: 0 0 20px #b5b5b5;
   position: fixed;
   bottom: 0;
   background: #fff
}

.showButtonInner {
   @include reset-button;
   width: 311px;
   height: 56px;
   background: #06A1A6;
   border-radius: 15px;
   color: #fff;
   font-family: 'Lato-Regular';
   font-size: 15.5px;
   margin-bottom: 15px;
}

.sliderMobile {
   padding-left: 10px;
}