@use '../../../app/styles/variables.scss' as *;


.menagerExtraWrapper {
    position: relative;
    width: 1032px;
    height: 803px;
    margin-top: -80px;
    border-radius: 15px;
    padding: 40px 70px 70px 70px;
    background: #fff;
}

.icon {
    position: absolute;
    left: 70px;

    svg {
        stroke: #000;
    }
}

.iconTitleInner {
    font-family: 'Lato-Bold';
}

.columnTitle {
    padding-top: 40px;
}

.columnTitleInner {
    font-family: 'Lato-Bold';
}

.descriptionInner {
    font-family: 'Lato-Regular';
    color: #181818;
}

.descriptionIconInner {
    padding-top: 7px;
}

.description {
    display: flex;
    align-items: center;
    gap: 10px
}

.iconWrapper {
    @include flex-center;
}

.checkItemsWrapper {
    padding: 40px 0 45px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkItem {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 280px;
    height: 64px;
    border-radius: 15px;
    background: #F7F7F7;
}

.buttonInner {
    @include reset-button;
    width: 200px;
    height: 64px;
    border-radius: 15px;
    font-size: 17px;
    color: #fff;
    font-family: 'Lato-Regular';
    background: #06A1A6;
}

.checkTextInner {
    font-family: 'Lato-Regular';
    padding-bottom: 5px;
}

//Adaptive

@media screen and (max-width: 1340px) {
    .icon {
        @include flex-center;
        width: 40px;
        height: 40px;
        top: 70px;
        left: 20px;
        border: 1px solid #dbdbdb;
        border-radius: 13px;

        svg {
            stroke: #06A1A6;
        }
    }
        .menagerExtraWrapper {
            padding: 74px 10px 0 10px;
        }
            .iconTitleInner {
                font-size: 27px;
            }
                .checkItem {
                    width: 100%;
                }
                    .buttonInner {
                        width: 100%;
                    }
                        .columnTitleInner {
                            font-size: 20px;
                        }
                            .descriptionInner {
                                font-size: 14px;
                            }
}
