@use '../../../app/styles/variables.scss' as *;


.infoInputWrapper {
    @include flex-center;
    gap: 9px;
}

.inputInfoBtnWrapper {
    display: flex;
    gap: 10px;
    padding: 15px 0;
}

.inputInfoWrapperPoint {
    width: 440px;
    height: 64px;
}

.inputInfoWrapperDate {
    position: relative;
}

.inputInfoWrapperDate, .inputInfoWrapperHoo {
    width: 296px;
    height: 64px;
}

.inputInfoWrapperPoint, .inputInfoWrapperDate, .inputInfoWrapperHoo {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.inputInfoTextWrapper {
    display: flex;
    justify-content: space-between;
}

.infoTitle {
    padding: 32px 0;
    max-width: 745px;
}

.infoInnerTitleText {
    font-family: 'Lato-Bold';
}

.inputInfoText, .inputInfoTitleInner {
    font-family: 'Lato-Regular';
}

.inputInfoTitleInner {
    color: #757575;
    font-size: 13px;
}

.infoInner {
    background: #fff;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-right-radius: 45px;
    padding: 0 29px 14px 28px;
    margin-bottom: 4px;
}

.infoInner {
    color: #000;
}

.wrapperButton {
    transition: all 0.4s;

    &:hover {
        transition: all 0.4s;
        background: #06A1A6;
    }
}

.buttonText {
    transition: all 0.4s;

    &:hover {
        transition: all 0.4s;
        color: #fff;
    }
}

.inputInfoImg {
    transition: all 0.2s;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.2s;
}


//Adaptive 

@media screen and (max-width: 1100px) {
    .inputInfoBtnWrapper {
        display: none;
    }
        .infoInputWrapper {
            flex-direction: column;
        }
            .inputInfoWrapperPoint, .inputInfoWrapperDate, .inputInfoWrapperHoo, .buttonSearch {
                width: 100% !important;
            }
                .infoInner {
                    width: 86.8vw;
                    border-radius: 20px;
                    box-shadow: 0 0 40px #00000043;
                }
}