
.mapWrapper {
  display: flex;
  gap: 20px;
}

.map {
  margin-top: -120px;
  width: 600px;
}

.border {
    border-bottom: 1px solid #D1D1D1;
    padding-top: 20px;
    margin-bottom: 15px;
}

//Adaptive

@media screen and (max-width: 735px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 1265px) {
  .buttons {
    display: none;
  }
}

@media screen and (max-width: 1325px) {
  .map {
    display: none;
  }
}

@media screen and (max-width: 832px) {
  .mapWrapper {
    justify-content: center;
  }
}