@use '../../../app/styles/variables.scss' as *;

.wrapperContainer {
    display: flex;
    flex-direction: column;
    gap: 90px;
    max-width: 872px;
    margin: 0 auto;
    padding: 90px 0 160px 0;
}

.buttonWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 70px #00000026;
    background: #fff;
    padding: 25px 90px;
    z-index: 10;
}

.buttonSaveInner, .buttonBackInner {
    @include reset-button;
    font-family: 'Lato-Regular';
    font-size: 16px;
    border-radius: 15px;
}

.buttonSaveInner {
    width: 200px;
    height: 64px;
    background: #06A1A6;
    color: #fff;
}

.buttonBackInner {
    width: 200px;
    height: 64px;
    background: #F7F7F7;
    color: #000;
}